* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container-one {
    
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 25px 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
}

.nav-right {
    display: flex;
    font-size: 18px;
    gap: 2em;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/***HERO SECTION***/
.hero-div {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 50px 0;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
}

.hero-main {
    
    color: #e5e7eb;  
}

.hero-small {
    color: #e5e7eb;
    flex-wrap: wrap;
}


img {
    width: 600px;
    height: auto;
}

button {
    color:#e5e7eb;
    align-self: flex-start;
    background-color: #3882f6;
    width: fit-content;
    padding: .5em .9em;
    border-color: #1f2937;
    border-radius: .5em;
    cursor: pointer;
}

/***Random Info and Cards***/
.info {
    display: flex;
    flex-direction: column;
    
}

.random-info-over-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.centered-over-cards {
    font-size: 4rem;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid;
    border-radius: 3px;
    box-shadow: black;*/
    justify-content: space-between;
    padding: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    border: 2px solid #3882f6;
    border-radius: 5px;
    box-shadow: gray;
    width: 20em;
    height:auto;
}

.card img {
    width: 100%;
    height: auto;
}

.card a {
    text-decoration: #1f2937;
}

/***Quote***/
.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 10em;
}

.quote-text {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.quote-author {
    align-self:flex-end;
}

/***Call-to-Action-Section***/
.call-to-action-container {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    justify-content: space-between;
    margin: 10em;
    padding: 3em 4em;
}

.call-to-action-button button {
    border-color: #e5e7eb;
}


/***Footer***/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 2em;
}
.footer-text {
    justify-content: center;
}